################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MultiPlug.Auth.Local/obj
/src/MultiPlug.Auth.Local/bin
